body
{

}

.footer
{
    width:100%;
    text-align:center;
    bottom: 0;
    position: fixed;
}


canvas{
    border-radius: 20px;
    border-color:blueviolet;
    border-style: dashed;
    position: fixed;
}